@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

code,
kbd,
pre,
samp {
  font-family            : ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings  : normal;
  font-variation-settings: normal;
  font-size              : 1em
}

.default-doc-bg {
  background-image   : url("https://utfs.io/f/80b3f4f6-91ce-42c9-a004-813352ef4ce2-eepx7k.png");
  background-repeat  : no-repeat;
  background-position: center;
  background-size    : cover;
}

.link-button:hover .link-button-icon {
  transform: rotate(45deg);
}

.token.class-name,
.token.function,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.tag {
  color: #f472b6
}

.token.attr-name,
.token.important,
.token.keyword,
.token.pseudo-class,
.token.rule {
  color: #cbd5e1
}

.token.module {
  color: #f472b6
}

.token.attr-value,
.token.class,
.token.property,
.token.string {
  color: #7dd3fc
}

.token.attr-equals,
.token.punctuation {
  color: #64748b
}

.language-css .token.function,
.token.unit {
  color: #99f6e4
}

.token.combinator,
.token.comment,
.token.operator {
  color: #94a3b8
}

pre[class*=language-] {
  color: #f8fafc
}

.auth-bg {
  background-image   : url("https://utfs.io/f/bd94d9dc-ec9f-4325-955b-47dd743e8e27-aoyagm.avif");
  background-repeat  : no-repeat;
  background-position: center;
  background-size    : cover;
}

.link {
  text-decoration: underline;
  transition     : all 0.3s;
}

.link:hover {
  color: black;
}

.outlined-button,
.button {
  padding        : 8px 16px;
  border-radius  : 8px;
  border         : 1px solid transparent;
  transition     : all 0.3s;
  text-align     : center;
  font-size      : 14px;
  font-weight    : 500;
  width          : 100%;
  cursor         : pointer;
  justify-content: center;
}

.button {
  box-shadow      : rgba(148, 85, 241, 0.1) 0px 1px 2px 0px, rgba(148, 85, 241, 0.2) 0px 1px 3px 0px, rgba(255, 255, 255, 0.2) 0px -1px 1px 1px inset;
  border-color    : rgb(124, 47, 238);
  background-color: rgb(136, 85, 255);
  color           : white;
}

.button:hover {
  background-color: rgb(124, 47, 238);
}

.outlined-button {
  box-shadow      : rgba(3, 3, 13, 0.03) 0px 1px 2px 0px, rgba(3, 3, 13, 0.05) 0px 1px 3px 0px, rgba(255, 255, 255, 0.2) 0px -1px 1px 1px inset;
  border-color    : rgb(224, 224, 230);
  background-color: white;
}

.outlined-button:hover {
  border-color: rgb(148, 148, 158);
}

.loading {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.step-span {
  background-color: rgb(209, 213, 219);
  transition      : all 0.3s;
}

.step-paragraph {
  color: rgb(107, 114, 128);
}

.step-hover:hover .step-span {
  background-color: rgb(17, 24, 39);
}

.step-hover:hover .step-paragraph {
  color: rgb(17, 24, 39);
}